body {
  font-family: Arial, sans-serif;
  margin: 20px;
  width: 400px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #0077b5; /* LinkedIn color */
}

button {
  width: 100%;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.status-message {
  margin-bottom: 12px;
  font-size: 16px;
  color: #888;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.search-button,
.start-button {
  background-color: #4caf50;
  color: white;
}

.search-button:hover[disabled="false"],
.start-button:hover[disabled="false"] {
  background-color: #46a049;
}

button:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}

.progress-bar{
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border-radius: 5px;
  margin-top: 20px;
  display: none;
}